[package]
name = "qiskit-circuit"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[lib]
name = "qiskit_circuit"
doctest = false

[dependencies]
ahash = "0.8.11"
hashbrown.workspace = true
rustworkx-core = { git = "https://github.com/Qiskit/rustworkx.git" }
num-complex.workspace = true
ndarray.workspace = true
numpy.workspace = true

[dependencies.pyo3]
workspace = true
features = ["hashbrown", "indexmap", "num-complex", "num-bigint", "smallvec"]

[dependencies.indexmap]
workspace = true
features = ["rayon"]

[dependencies.smallvec]
workspace = true
features = ["union"]

[features]
cache_pygates = []
